<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3d529fade9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/admins.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <title>Pacientes</title>
    <link rel="shortcut icon" href="../../static/img/faviconLOGO.png" type="image/x-icon">

    <style>
        .formulario {
            width: 700px;
            margin: 0 auto;
        }
        .formulario .input-group {
            padding: 20px;
        }

        .input-group label {
            font-size: 20px;
        }
        .boton-registro {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .input-group button {
            background-color: #695CFE;
            color: #fff;
            border: none;
            padding: 10px;
            font-size: 23px;
            border-radius: 5px;
            cursor: pointer;
            width: 50%;
        }
        .input-group button :hover {
            background-color: #5a4fd8;
        }
    </style>
</head>
<body>
  <!-- ver los mensajes flash flask -->
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
    <script>
    Toastify({
      text: "{{ message }}",
      className: "info",
      duration: 2000,
      gravity: "top",
      position: "center",
      style: {
        background: "linear-gradient(to right, #3378FF, #9442FE)",
        color: "#fff",
        fontSize: "1.2rem",
        textAlign: "center",
        borderRadius: "0.5rem"
      }
    }).showToast();
    </script>
  {% endfor %}
  {% endif %}
  {% endwith %}
    <nav class="sidebar">
        <header>
            <div class="image-text">
                <span class="image">
                      <img src="../static/img/Logo.png" alt="">
                </span>

                <div class="text logo-text">
                    <span class="name">MedicalUPQ</span>
                    <span class="profession">Centro Médico</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <li class="search-box">
                    <i class="fa-solid fa-magnifying-glass icon"></i>
                    <input type="text" placeholder="Buscar...">
                </li>
                
                <ul class="menu-links">

                
                  <li class="nav-link">
                    <a href="{{ url_for('second.doctorPacientes') }}">
                        <i class="fa-solid fa-folder-plus icon"></i>
                        <span class="text nav-text">Gen. Expediente</span>
                    </a>
                  </li>

                  <li class="nav-link">
                    <a href="{{ url_for('second.verMisPacientes') }}">
                        <i class="fa-solid fa-users-viewfinder icon"></i>
                        <span class="text nav-text">Consultar Mis<br> Pacientes</span>
                    </a>
                  </li>

                    <li class="nav-link">
                        <a href="{{ url_for('second.exploracionDiagnostico') }}">
                            <i class="fa-solid fa-stethoscope icon"></i>
                            <span class="text nav-text">Exploración y <br>Diagnóstico</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="{{ url_for('second.consultarCitas') }}">
                            <i class="fa-solid fa-book-medical icon"></i>
                            <span class="text nav-text">Consultar Citas</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="/logout">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Cerrar Sesión</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>

    <section class="home">
        <div class="nombre">
          <div class="text">{{nombre}} <br> {{rfc}} </div>

          <i class="fa-solid fa-monitor-waveform icon"></i>
        </div>
        <center><h2 id="titulo">Generar Nuevo Expediente</h2></center>
        <center><p style="font-size: 14px;">Se te asignara este paciente en automatico!</p></center>
        <div class="formulario">
          <form action="{{ url_for('second.doctorRegistrarPaciente')}}" method="post">
            <div class="input-group">
              <label for="nombre">Nombre</label>
              <input type="text" name="nombre" id="nombre" required>
            </div>
            <div class="input-group">
              <label for="fecha">Fecha de Nacimiento</label>
              <input type="date" name="fecha" id="fecha" required>
            </div>
            <div class="input-group">
              <label for="enfermedades">Enfermedades</label>
              <input type="text" name="enfermedades" id="enfermedades">
            </div>
            <div class="input-group">
              <label for="alergias">Alergias</label>
              <input type="text" name="alergias" id="alergias">
            </div>
            <div class="input-group">
              <label for="antecedentes">Antecedentes</label>
              <input type="text" name="antecedentes" id="antecedentes">
            </div>
            <div class="input-group">
              <div class="boton-registro">
                <button type="submit" name="button">Registrar</button>
              </div>
            </div>
          </form>
    <script src="../static/js/sideBar.js"></script>
</body>
</html>