<!DOCTYPE html>
  <!-- Coding by CodingLab | www.codinglabweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3d529fade9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/admins.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <title>Citas</title>
    <link rel="shortcut icon" href="../../static/img/faviconLOGO.png" type="image/x-icon">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
    <link rel="stylesheet" href="../static/css/receta.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="../static/css/verCitas.css">

</head>
<body>
  <!-- ver los mensajes flash flask -->
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
    <script>
    Toastify({
      text: "{{ message }}",
      className: "info",
      duration: 2000,
      gravity: "top",
      position: "center",
      style: {
        background: "linear-gradient(to right, #3378FF, #9442FE)",
        color: "#fff",
        fontSize: "1.2rem",
        textAlign: "center",
        borderRadius: "0.5rem"
      }
    }).showToast();
    </script>
  {% endfor %}
  {% endif %}
  {% endwith %}
    <nav class="sidebar">
        <header>
            <div class="image-text">
                <span class="image">
                      <img src="../static/img/Logo.png" alt="">
                </span>

                <div class="text logo-text">
                    <span class="name">MedicalUPQ</span>
                    <span class="profession">Centro Médico</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <li class="search-box">
                    <i class="fa-solid fa-magnifying-glass icon"></i>
                    <input type="text" placeholder="Buscar...">
                </li>
                
                <ul class="menu-links">
                        
                  <li class="nav-link">
                    <a href="{{ url_for('second.consultarCitas') }}">
                        <i class="fa-solid fa-folder-plus icon"></i>
                        <span class="text nav-text">Gen. Expediente</span>
                    </a>
                  </li>

                  <li class="nav-link">
                    <a href="{{ url_for('second.verMisPacientes') }}">
                        <i class="fa-solid fa-users-viewfinder icon"></i>
                        <span class="text nav-text">Consultar Mis<br> Pacientes</span>
                    </a>
                  </li>

                    <li class="nav-link">
                        <a href="{{ url_for('second.exploracionDiagnostico') }}">
                            <i class="fa-solid fa-stethoscope icon"></i>
                            <span class="text nav-text">Exploración y <br>Diagnóstico</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="{{ url_for('second.consultarCitas') }}">
                            <i class="fa-solid fa-book-medical icon"></i>
                            <span class="text nav-text">Consultar Citas</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="/logout">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Cerrar Sesión</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>

    <section class="home">
        <div class="nombre">
          <div class="text">
            {{nombre}}
             <br>
             {{rfc}}
          </div>
          <i class="fa-solid fa-monitor-waveform icon"></i>
        </div>
        <center><h2 id="titulo">Consulta de Citas</h2></center>
        <center><p id="titulo-filtrar">Filtrar Por:</p></center>
        
           
              <div class="contenedor-filtros">
                <form action="{{ url_for('second.filtrarCitaPorNombre')}}" method="POST">
                    <div class="filtro-nombre-paciente">
                            <!-- select coin los nombres de los pacientes registrados -->
                            <input type="text" id="nombre_paciente" placeholder="Nombre del Paciente" name="nombre_paciente" list="pacientes">
                            
                            <datalist id="pacientes">
                                {% for paciente in pacientes %}
                                    <option value="{{paciente.2}}">
                                {% endfor %}
                            </datalist>
                        <button id="btnFiltrar">Filtrar</button>
                    </div>
                   </form>
                    <form action="{{ url_for('second.filtrarCitaPorFecha')}}" method="POST"> 
                        <div class="filtro-fecha-cita">
                            <input type="date" id="fecha_cita" name="fecha_cita" value="">
                            <button id="btnFiltrarFecha">Filtar</button>
                        </div>
                    </form>
                </div>
            
        

        <div class="tablas">
            <div class="contenedor-tabla-1">
                <table class="tabla-1">
                    <thead>
                        <tr>
                            <th>ID <br> Cita</th>
                            <th>ID <br> Paciente</th>
                            <th>cita que <br> Atendio</th>
                            <th>Fecha</th>
                            <th>Peso</th>
                            <th>Altura</th>
                            <th>Temperatura</th>
                            <th>Latidos</th>
                            <th>saturacion</th>
                            <th>Glucosa</th>
                            <th>Edad</th>
                            <th>Sintomas</th>
                            <th>Tratamiento</th>
                            <th>Estudios</th>
                            <th>Indicaciones</th>
                            <th>Re Imprimir <br> Receta</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cita in citas %}
                        <tr>
                            <td>{{cita.0}}</td>
                            <td>{{cita.1}}</td>
                            <td>{{cita.2}}</td>
                            <td>{{cita.3}}</td>
                            <td>{{cita.4}}</td>
                            <td>{{cita.5}}</td>
                            <td>{{cita.6}}</td>
                            <td>{{cita.7}}</td>
                            <td>{{cita.8}}</td>
                            <td>{{cita.9}}</td>
                            <td>{{cita.10}}</td>
                            <td>{{cita.11}}</td>
                            <td>{{cita.12}}</td>
                            <td>{{cita.13}}</td>
                            <td>{{cita.14}}</td>
                            <td>
                                <a class="receta" data-idpaciente="{{cita.1}}" data-iddoctor="{{cita.2}}" data-fecha="{{cita.3}}" data-peso="{{cita.4}}" data-altura="{{cita.5}}" data-temperatura="{{cita.6}}" data-latidos="{{cita.7}}" data-saturacion="{{cita.8}}" data-glucosa="{{cita.9}}" data-edad="{{cita.10}}" data-sintomas="{{cita.11}}" data-tratamiento="{{cita.12}}" data-indicaciones="{{cita.14}}">
                                    <i class='bx bx-printer icon'></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <dialog id="modalReceta"> 
            <div id="desdeaqui">
                <div class="encabezado">
                    <div class="imagen1">
                        <img src="../../static/img/logo_medicos.png" alt="">
                    </div>
                    <div class="info-medio">
                        <h2>Receta Médica</h2>
                        <p>Dr. {{nombre}}</p>
                        <hr>
                        <p>Cedula Profesional {{cedula}}</p>
                        <hr>
                    </div>
                    <div class="imagen2">
                        <img src="../../static/img/logo_medicos.png" alt="">
                    </div>
                </div>
                <div class="fecha">
                    <input type="text" id="fechaReceta" readonly>
                </div>
                <div class="contenedorReceta">
                    <div class="nombre-paciente">
                        <div>
                            <p>Nombre del Paciente: <input type="text" id="nombrePaciente" value="{{nombre_paciente}}" readonly></p>
                        </div>
                    </div>
                    <hr>
                    <div class="info-receta">
                        <p>Peso: <input type="text" id="pesoPaciente" readonly></p>
                        <p>Edad: <input type="text" id="edadPaciente" readonly></p>
                        <p>Altura: <input type="text" id="alturaPaciente" readonly></p>
                        <p>Temperatura: <input type="text" id="temperaturaPaciente" readonly></p>
                        <p>LPM: <input type="text" id="lpmPaciente" readonly></p>
                        <p>Saturación: <input type="text" id="saturacionPaciente" readonly></p>
                        <p>Glucosa: <input type="text" id="glucosaPaciente" readonly></p>
                    </div>
                    <hr>
                    <div class="sintomas">
                        <textarea name="" id="sintomasPaciente" cols="30" rows="10"></textarea>
                    </div>
                    <hr>
                    <div class="tratamiento1">
                        <div class="medicamentos">
                            <p>Medicamentos: <input type="text" id="medicamentosPaciente1" readonly></p>
                        </div>
                        <div class="indicaciones">
                            <p>Indicaciones: <input type="text" id="indicacionesPaciente1" readonly></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="botonImprimir">
                <button id="btnImprimirReceta">Imprimir Receta</button>
            </div>
            </dialog>

    <script src="../static/js/sideBar.js"></script>
    <script src="../../static/js/re-impresionReceta.js"></script>
</body>
</html>