/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}

.form_registro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_registro .input-group {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.home #titulo {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 30px;
}

.input-group input,
.input-group select {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    padding: 0 10px;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-05);
}

.form_registro button {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: white;
    font-size: 16px;
    font-weight: 500;
    transition: var(--tran-05);
    margin-top: 20px;
}

.form_registro button:hover {
    background-color: #6359d4f8;
    cursor: pointer;
}

#rfc {
    text-transform: uppercase;
}

.tabla_medicos {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
body.dark #table {
    background: rgba(42, 41, 41, 0.25);
    box-shadow: 0 8px 32px 0 rgba(60, 61, 61, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba(95, 93, 93, 0.18);
}
body.dark {
    color: white;
}
.tabla_medicos i {
    font-size: 30px;
    color: var(--primary-color);
}
body.dark .tabla_medicos i {
    color: #695CFE;
}
body.dark .tabla_medicos i:hover {
    color: #4a3dd8;
}

.tabla_medicos i:hover  {
    color: #3b2dd4;
}
#table {
    padding: 25px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

tr { 
    text-align: center;
    padding: 15px;
}

th {
    padding: 15px;
}

tr td {
    padding: 10px;

}

/* estilos del modal Registro medico */
#modal::backdrop,
#modalEditarDoctor::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}
#modalEditarDoctor {
    margin: 0 auto;
    margin-top: 100px;
    height: 650px;
    width: 600px;
    overflow-x: hidden;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

#modal {
    margin: 0 auto;
    margin-top: 155px;
    height: 650px;
    width: 600px;
    overflow-x: hidden;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
body.dark #modal {
    background-color: #262626;
    color: white;
}

body.dark #modal form button {
    background-color: #695CFE;
    color: white;
}

body.dark #modal form button:hover {
    background-color: #4a3dd8;
    cursor: pointer;
}


.titulo-cerrar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#modal h2,
#modalEditarDoctor h2  { 
    margin: 30px 0 30px 205px;
    color: var(--text-color);
}
#btnCerrarModal i,
#btnCerrarModalMedico i {
    cursor: pointer;
    margin-bottom: 65px;
    transform: scale(3);
    margin-right: 12px;
    margin-top: 14px;
}
#modal form,
#modalEditarDoctor form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#modal form input,
#modal form select,
#modalEditarDoctor form input,
#modalEditarDoctor form select {
    height: 40px;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    padding: 0 10px;
    font-size: 16px;
    font-weight: 500;
    color: black;
    transition: var(--tran-05);
}

body.dark .input-group input, .input-group select {
    color: rgba(19, 18, 18, 0.938);
}


#modal form button,
#modalEditarDoctor form button {
    height: 40px;
    width: 200px;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: white;
    font-size: 16px;
    font-weight: 500;
    transition: var(--tran-05);
    margin-top: 20px;
}

#modal form button:hover,
#modalEditarDoctor form button:hover {
    background-color: #6359d4f8;
    cursor: pointer;
}

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    gap: 25px;
}

.botones #btnAbrirModal,
.botones #btn_abrir_modal_editar_doctor {
    height: 55px;
    width: 230px;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: white;
    font-size: 16px;
    font-weight: 500;
    transition: var(--tran-05);
    margin-top: 20px;
}

#btnAbrirModalEditarDoctor i {
    cursor: pointer;
}

#fecha_nacimiento_nueva {
    width: 38%;
    text-align: center;
}

.tabla_medicos a.editar {
    cursor: pointer;
}

#sintoma {
    font-size: 17px;
    padding: 10px;
}

