* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#titulo-filtrar {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #707089;
}

.contenedor-filtros {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.filtro-nombre-paciente input,
.filtro-fecha-cita input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #333;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 350px;
}

#btnFiltrar {
    background-color: #695CFE;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    cursor: pointer;
    width: 150px;
}

#btnFiltrar:hover {
    background-color: #5d4cdd;
}

.tablas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}