<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;700&display=swap" rel="stylesheet">
    <title>Centro Medico</title>
</head>
<body>
   <nav>
        <div class="logo">
            <img src="../static/img/Logo.png" alt="">
        </div>
        <div class="darkmode">
            <p>Darkmode OFF</p>
        </div>
   </nav>

   <main>
        <div class="lado-izquierdo">
            <div class="contenedor-principal">
                <div class="logo-texto">
                    <img src="../static/img/Health _Isometric.svg" alt="">
                    <P>Bienvenido a su centro médico doctor</P>
                </div>
            
                <div class="contenedor-formulario">
                    <div class="input-container">
                        <form  method="POST">
                            <input type="text" name="rfc" placeholder="RFC">
                            <input type="password" name="pass" placeholder="Contraseña">
                            <br>
                            <div>
                                <a href="">Restablecer Contraseña</a>
                            </div>
                            <div class="button">
                                <button type="submit">Entrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="lado-derecho">
            <img src="../static/img/doctor-moviemnto.gif" alt="">
        </div>
   </main>
</body>
</html>