<!DOCTYPE html>
  <!-- Coding by CodingLab | www.codinglabweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3d529fade9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/admins.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <title>Ver Pacientes</title>
    <link rel="shortcut icon" href="../static/img/icon_43d242a8c7d8a646896a7e71627d7247.ico" type="image/x-icon">
    <style>
        .formulario {
            width: 700px;
            margin: 0 auto;
        }
        .formulario .input-group {
            padding: 20px;
        }

        .input-group label {
            font-size: 20px;
        }
        .boton-registro {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .input-group button {
            background-color: #695CFE;
            color: #fff;
            border: none;
            padding: 10px;
            font-size: 23px;
            border-radius: 5px;
            cursor: pointer;
            width: 50%;
        }
        .input-group button :hover {
            background-color: #5a4fd8;
        }
    </style>
</head>
<body>
  <!-- ver los mensajes flash flask -->
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
    <script>
    Toastify({
      text: "{{ message }}",
      className: "info",
      duration: 2000,
      gravity: "top",
      position: "center",
      style: {
        background: "linear-gradient(to right, #3378FF, #9442FE)",
        color: "#fff",
        fontSize: "1.2rem",
        textAlign: "center",
        borderRadius: "0.5rem"
      }
    }).showToast();
    </script>
  {% endfor %}
  {% endif %}
  {% endwith %}
    <nav class="sidebar">
        <header>
            <div class="image-text">
                <span class="image">
                      <img src="../static/img/Logo.png" alt="">
                </span>

                <div class="text logo-text">
                    <span class="name">MedicalUPQ</span>
                    <span class="profession">Centro Médico</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <li class="search-box">
                    <i class="fa-solid fa-magnifying-glass icon"></i>
                    <input type="text" placeholder="Buscar...">
                </li>
                
                <ul class="menu-links">

                  <li class="nav-link">
                    <a href="/admins">
                        <i class="fa-solid fa-address-card icon"></i>
                        <span class="text nav-text">Administración</span>
                    </a>
                  </li>
                  <li class="nav-link">
                    <a href="/pacientes">
                        <i class="fa-solid fa-folder-plus icon"></i>
                        <span class="text nav-text">Gen. Expediente</span>
                    </a>
                  </li>

                  <li class="nav-link">
                    <a href="/ver_pacientes">
                        <i class="fa-solid fa-users-viewfinder icon"></i>
                        <span class="text nav-text">Consultar Mis<br> Pacientes</span>
                    </a>
                  </li>

                    <li class="nav-link">
                        <a href="/exploracion_diagnostico">
                            <i class="fa-solid fa-stethoscope icon"></i>
                            <span class="text nav-text">Exploración y <br>Diagnóstico</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class="fa-solid fa-book-medical icon"></i>
                            <span class="text nav-text">Consultar Citas</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="/logout">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Cerrar Sesión</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>

    <section class="home">
        <div class="nombre">
          <div class="text">{{nombre}} <br> {{rfc}} </div>
          <i class="fa-solid fa-monitor-waveform icon"></i>
        </div>
        <center><h2 id="titulo">Tus pacientes</h2></center>
        <div class="tabla_medicos" >
            <table id="table">
              <thead>
                <tr>
                  <th scope="col">ID <br> Paciente</th>
                  <th scope="col">ID <br> Doctor</th>
                  <th scope="col">Nombre Paciente</th>
                  <th scope="col">Fecha Nacimiento</th>
                  <th scope="col">Enfermedades</th>
                  <th scope="col">Alergias</th>
                  <th scope="col">Antecedentes</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% for expediente in expedientes %}
                <tr>
                  <td>{{expediente.0}}</td>
                  <td>{{expediente.1}}</td>
                  <td>{{expediente.2}}</td>
                  <td>{{expediente.3}}</td>
                  <td>{{expediente.4}}</td>
                  <td>{{expediente.5}}</td>
                  <td>{{expediente.6}}</td>
                  <td>
                    <a class="editar" data-id_paciente="{{expediente.0}}" data-nombre="{{expediente.2}}" 
                        data-fecha="{{expediente.3}}"
                        data-enfermedades="{{expediente.4}}" data-alergias="{{expediente.5}}"
                        data-antecedentes="{{expediente.6}}">
                      <i class='bx bx-edit icon'></i>
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          <dialog id="modalEditarDoctor">
            <div class="titulo-cerrar">
              <h2> Editar Datos Paciente </h2>
              <a id="btnCerrarModalMedico">
                <i class='bx bx-x icon'></i>
              </a>
            </div>
            <form action="/editar_paciente" method="POST">
              <input type="text" name="id_paciente" id="id_paciente" hidden>
              <label for="nombre">Nombre</label>
              <input type="text" name="nombre_nuevo" id="nombre_editar" required>
              <label for="nombre">Fecha Nacimiento</label>
              <input type="date" name="fecha_nacimiento_nuevo" id="fecha_nacimiento_nueva" required>
              <label for="cedula">Enfermedades</label>
              <input type="text" name="enfermedades_nuevo" id="enfermedades_nuevo" >
              <label for="correo">Alergias</label>
              <input type="text" name="alergias_nuevo" id="alergias_nuevo" >
              <label for="password">Antecedentes</label>
              <input type="text" name="antecedentes_nuevo" id="antecedentes_nuevo" >
              
              <button type="submit">Actualizar</button>
            </form>
          </dialog>
        
    <script src="../static/js/sideBar.js"></script>
    <script src="../static/js/modalEditarPaciente.js"></script>
</body>
</html>